### Import libraries

In [316]:
import pandas as pd
import numpy as np

### Read data

In [317]:
male_names = pd.read_csv("/home/verma/Desktop/maleNames.csv",sep="^")
female_names = pd.read_csv("/home/verma/Desktop/femaleNames.csv",sep="^")

### Merge all data & Handle null values

In [318]:
alldata = pd.concat([male_names,female_names])
data = alldata.dropna(how='any')

### Check for null values

In [319]:
data.isnull().sum()

Name      0
Gender    0
dtype: int64

### Label categorical data (Gender) to numeric values

In [320]:
from sklearn.preprocessing import LabelEncoder
#Female:0, Male:1
lebel = LabelEncoder() 
data['Gender']= lebel.fit_transform(data['Gender'])

/home/verma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

### Suffle records

In [321]:
from sklearn.utils import shuffle
shuffle(data)

              Name  Gender
9798    samarendra       1
4921       magdala       0
4704       lisette       0
6333        kullin       1
8742      prasanth       1
1644         chasa       0
1482   balachandra       1
4508        latika       0
9528          zyah       0
8604       torilyn       0
4141        kaviya       0
5655      nagaveni       0
8972         qutuz       1
1940     bhuvanesh       1
2364    ellizabeth       0
1667        chayla       0
8325       tamarka       0
10620       siddel       1
7857     narvinder       1
5825      kalanath       1
6503        qawiya       0
10203      shafeek       1
7074       sabreen       0
11440          tev       1
707        anupama       0
7360        mervin       1
7206        muslim       1
5257         jamal       1
2026         deeva       0
1877          dana       0
...            ...     ...
7773      nandapal       1
2706         galit       0
4530       haridas       1
576           ancy       0
8108       niteesh       1
2078      brenndan       1
4533       harihar       1
4708     hiranmaya       1
4118       katrina       0
11471         thaw       1
4338       gurmukh       1
401          alona       0
5191       mariyam       0
6990       manalan       1
9748          saji       1
5013       maleeah       0
5721       juddson       1
12909     yedidiah       1
6948        rosily       0
10309   sharadendu       1
3752         jesna       0
8117       nithish       1
6632        rambha       0
8404         parag       1
9227       yassmin       0
6145    padmavathi       0
3228      hollyann       0
460          addan       1
5593          myaa       0
5388         mercy       0

[22793 rows x 2 columns]

### Import sklearn libraries

In [322]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

### Convert names into vector form

In [323]:
Xfeatures = data['Name']
cv = CountVectorizer()
x = cv.fit_transform(Xfeatures.values.astype('U'))
y = data["Gender"]

### Split data into train & test datasets

In [324]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.02, random_state=23)
print("Training instances - {}  | Training features - {}".format(x_train.shape[0], str(1)))  
print("Testing instances - {}    | Testing features - {}".format(x_test.shape[0], str(1)))

Training instances - 22337  | Training features - 1
Testing instances - 456    | Testing features - 1

### Create classifier instance and fit train data into it

In [325]:
clf = MultinomialNB()
clf.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

### Test classifier model with test data

In [326]:
score = clf.score(x_test, y_test)
print("Accuracy: " + str(score * 100) + "%")

Accuracy: 64.47368421052632%

### Predict Gender by name

In [344]:
sample_name = ["shivam"]
v = cv.transform(sample_name).toarray()
result = clf.predict(v)
for i in np.arange(len(sample_name)):
    if(result[i] == 1):
        print(sample_name[i] + " => Male")
    else:
        print(sample_name[i] + " => Female")

shivam => Male